gunicorn
Django
psycopg2
Scrapy
Celery
flower
django-celery
django-model-utils
mysqlclient
django-redis-cache
beautifulsoup4
dateutils
hg+https://bitbucket.org/schinckel/django-jsonfield
scrapy-djangoitem
requests
# dev
django-debug-toolbar
djangorestframework
markdown
django-filter
#django-rest-swagger
https://github.com/marcgibbons/django-rest-swagger/archive/stable/0.3.x.zip
django-extensions
